<!DOCTYPE html>

<html lang="fr">
    <head>
        <!-- <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="src/assets/style.css">
        <title>Nanina</title>
    </head>

    <body>
        <div id="app" v-cloak>
           
            

            <!-- <label>First Name</label>
            <input type="text" v-model.lazy.trim="firstName" />

            <label>Middle Name</label>
            <input type="text" @keyup.enter="updateMiddleName" />

            <label>Last Name</label>
            <input type="text" :value="lastName" @input.prevent="updateLastName('Last name event triggered', $event)"/>

            <label>Age</label>
            <input type="number" v-model="age" />

            <label>Kaw</label>
            <input type="number" v-model="kaw" />

            <button type="button" @click="age++">Increment</button>
            <button type="button" @click="age--">Decrement</button> -->
        </div>

        <script type="module" src="src/main.ts"></script>
    </body>
</html>