testing.code-workspace
course files
TESTS COURSES

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
client/.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

#C# Stuff

/server/obj
/server/bin
.vscode

#Static assets (waifu and item images...)

client/public
errors.log

#Database

/save/chatosutokens.json
/save/osutokens.json
/save/database.db
.env
itemdb.json
osumapsdb.json
setdb.json
userdb.json
waifudb.json
save.zip