[{
    "bannerName":"The PP club",
    "bannerDescription":"The PP club",
    "id":"ppclub",
    "pityAmount":10,
    "pullCost":12,
    "twoStarsWeight":100,
    "threeStarsWeight":10,
    "rateUpTwoStarsWeight": 0,
    "rateUpThreeStarsWeight":0,
    "twoStarsPoolId": ["1", "2"],
    "threeStarsPoolId": ["3"],
    "rateUpTwoStarsPoolId":[],
    "rateUpThreeStarsPoolId":[]
}]