DISCORD_CLIENT_SECRET=your oauth2 client secret
DISCORD_CLIENT_ID=your discord id
DISCORD_REDIRECT_URI=the redirect url using in the oauth2 discord page
DISCORD_API_URL=https://discord.com/api/
DATABASE_PATH=the path for the database
OSU_CLIENT_SECRET=osu secret
OSU_CLIENT_ID=osu id
OSU_API_URL=https://osu.ppy.sh/api/v2/
OSU_REDIRECT_URI=the redirect url using in the oauth2 osu settings page
DEV=true
OSU_API_TOKEN_STORAGE_PATH=path to store osu api tokens