DISCORD_CLIENT_SECRET=your oauth2 client secret
DISCORD_CLIENT_ID=your discord id
DISCORD_REDIRECT_URI=the redirect url using in the oauth2 discord page
OSU_CLIENT_SECRET=osu secret
OSU_CLIENT_ID=osu id
OSU_REDIRECT_URI=the redirect url using in the oauth2 osu settings page
OSU_OAUTH_URL=https://osu.ppy.sh/oauth/token/
OSU_SELF_ID=your own osu id