DISCORD_CLIENT_SECRET=your oauth2 client secret
DISCORD_CLIENT_ID=your discord id
DISCORD_REDIRECT_URI=the redirect url using in the oauth2 discord page
DISCORD_API_URL=https://discord.com/api/
DATABASE_PATH=the path for the database
OSU_CLIENT_SECRET=osu secret
OSU_CLIENT_ID=osu id
OSU_API_URL=https://osu.ppy.sh/api/v2/
OSU_REDIRECT_URI=the redirect url using in the oauth2 osu settings page
DEV=true
OSU_API_TOKEN_STORAGE_PATH=path to store osu api tokens
OSU_API_CHAT_TOKEN_STORAGE_PATH=path to store chat osu api tokens
OSU_BEATMAP_URL=https://osu.ppy.sh/beatmapsets/
BANNER_STORAGE_PATH=path to store osu gacha banners
AUTOMATIC_BACKUP_STORAGE_PATH=path to back up
AUTOMATIC_BACKUP_STORAGE_PATH_2=another path to back up
AUTOMATIC_BACKUP_TIME=3600
OSU_OAUTH_URL=https://osu.ppy.sh/oauth/token/
OSU_SELF_ID=your own osu id