*{
    margin:0;
    padding:0;
}
body {
    font: bold 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[v-cloak] {
    display: none;
}

.white_theme {
    background: white;
    color:black;
}

.dark_theme {
    background: #0F0D0F;
    color:white;
}

.cute_theme {
    background: pink;
    color:white;
}

#main
{
    padding:0;
    margin:0;

    top:0px;
    left:0;
}