*{
    margin:0;
    padding:0;
}
body {
    font: bold 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[v-cloak] {
    display: none;
}

.white_theme {
    background: white;
    color:black;
}

.dark_theme {
    background: black;
    color:white;
}

.cute_theme {
    background: pink;
    color:white;
}

.red_border {
    border: red 2px solid;
}

.yellow_border {
    border: yellow 2px solid;
}

.green_border {
    border: green 2px solid;
}

.blue_border {
    border: blue 2px solid;
}

.brown_border {
    border: brown 2px solid;
}

.violet_border {
    border: violet 2px solid;
}

li {
    list-style: none;
}

/*remove arrow from input boxes*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Make text unselectable*/
* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.veil {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

a {
    text-decoration: none;
}

button, input{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input
{   
    cursor:auto;
    border-color: aliceblue;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.smallbutton
{
    padding:6px 6px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
}

.locked
{
    color:gray;
    cursor:not-allowed
}

.clickable
{
    cursor: pointer;
    color: rgb(208, 123, 247);
}

.clickable:hover
{
    color:rgb(240, 209, 255);
}

.selected
{
    color:rgb(177, 77, 238);
    text-decoration:underline;
}


.nnnbutton
{
    border-color:rgb(200, 41, 200);
    border-width: 4px;
    border-style: solid;
    border-radius: 40px;
}

.nnnbutton:hover
{
    border-color:rgb(203, 165, 221);
}

a {
    color:lightblue;
}

a:hover {
    color:white;
}

.margins {
    
    margin: 0 25vw;
    font-size: larger;
}

.flex
{
    display:flex;
    flex-direction: column;
}

.upgrade
{
    color:green
}